
*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
}

body {
  background: #fff;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #0139f0;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #F06F01;
}

.btn {
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #0139f0;
  border: 0.2rem solid #0139f0;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}
.btn:hover {
  background: #0139f0;
  color: #fff;
}

.btn1 {
  margin-top: 1rem;
  color: #fff;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  border: 0.2rem solid #0139f0;
  border-radius: 5rem;
  cursor: pointer;
  background: #0139f0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top:0; left:0; right:0;
  z-index: 1000;
  background: #000;
  padding:1.5rem 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #0139f0;
}

.header .btn {
  margin-top: 0;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: url(../images/africa-gea9ee386a_1920.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height : 80vh;
  
  
}

.home .content {
  text-align: center;
}

.home .content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
  font-size: 8vw;
  
}


.home .content h3 {
  font-size: 6vw;
  color: #F0CF01;
}

.home .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: #fff;
  line-height: 2;
}

.res {
  width: 80%;
  margin:1rem auto;
  margin-top: -5rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 .5rem 1rem #F0CF01;
  padding:3rem 2rem;
  
}

.res form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap:1.5rem;
}

.res form .inputBox {
    flex: 1 1 25rem;
}

.res form .inputBox span {
  font-size: 1.4rem;
  color: #0139f0;
}

.res form .inputBox input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: 0.2rem solid #0139f0;
  font-size: 1.6rem;
  color: #aaa;
  text-transform: none;
  background: none;
  margin-top: 1rem;
}

.res form .btn {
    flex: 1 1 15rem;
}

.about {
  display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    margin-top: 5rem;
    background-color: #111;
}

.about .image-container {
    flex: 1 1 42rem;
}

.about .image-container img {
  border-radius: 1rem;
  width: 100%;
}

.about .image-container .controls {
  text-align: center;
  padding: 2rem 0;
}

.about .image-container .controls span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: .7rem;
}

.about .image-container .controls span:hover {
  background: #0139f0;
}

.about .content {
  flex: 1 1 42rem;
  margin-bottom: 5rem;
}

.about .content span {
  color: #0139f0;
  font-size: 2rem;
}

.about .content h3 {
  color: #F0CF01;
  font-size: 4rem;
  margin-top: .5rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #fff;
  line-height: 2;
}

.destination .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.destination .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: #222;
}

.destination .box-container .box:hover img {
    transform: scale(1.1);
}

.destination .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.destination .box-container .box .image img {
  height: 100%;
  width: 100%;
}

.destination .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.destination .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
}

.destination .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.destination .box-container .box .content a {
  font-size: 1.7rem;
  color: #0139f0;
}

.destination .box-container .box .content a:hover i {
  padding-left: 1rem;
}

.destination .box-container .box .content a i {
  padding-right: .5rem;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  background: #222;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #111;
}

.services .box-container .box i {
  font-size: 4rem;
  color: #0139f0;
  margin-bottom: 2rem;
}

.services .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
}

.services .box-container .box p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.banner {
 
  background: url(../images/africa-g52d9e6df6_1920.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding:3rem 2rem;
  text-align: center;
}

.banner .content h3 {
  font-size: 4rem;
  color: #F0CF01;
  margin-top: 1rem;
}

.banner .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: #fff;
  line-height: 2;
}
.footer{
  background-color: #111;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box {
  padding: 1rem 0;
}

.footer .box-container .box .logo {
  padding-bottom: 1rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.footer .box-container .box p i {
  padding-right: .5rem;
  color: #0139f0;
}

.footer .box-container .box .share {
  padding-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  font-size: 1.7rem;
  border: 0.2rem solid #0139f0;
  color: #0139f0;
  margin-right: .5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: #0139f0;
  color: #111;
}

.footer .box-container .box .links {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box .links:hover {
  color: #0139f0;
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}

.footer .box-container .box .links i {
  padding-right: .5rem;
  color: #0139f0;
}

.footer .box-container .box form .email {
  width: 100%;
  border-radius: 5rem;
  border: 0.2rem solid #0139f0;
  background: none;
  font-size: 1.5rem;
  text-transform: none;
  color: #aaa;
  margin-bottom: 1rem;
  padding: 1.2rem 1.4rem;
}

.credit {
  background: #222;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: #aaa;
}

.credit span {
  color: #0139f0;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
  }
  .header .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  .home {
    margin-top: 10rem;
  }
  .home .content span {
    font-size: 8vw;
  }
  .home .content h3 {
    font-size: 9vw;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .about .content h3 {
    font-size: 3.5rem;
  }
  .banner .content h3 {
    font-size: 2.7rem;
  }
}